.AnswerItem{
    border: 1px solid peachpuff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.AnswerItem:hover{
    color: white;
    transition: .3s ease-in-out;
    background-color: cornflowerblue;
}

.AnswerItem.error{
    background-color: red;
    color: white;
}

.AnswerItem.success{
    background-color: greenyellow;
    color: black;
}